# NOTE: it is OPTIONAL to make a .env.dev or .env.test file as both test and dev environments have default fallback values in settings.py
# NOTE2: prod setup is not finished (unsure how it would even look like lol)
# Want to override default values for dev and test environments? Then copy this file to .env.dev or .env.test and fill in values
# ENV: dev or test
# URI format: postgresql+psycopg2://username:pass@localhost:5432/dbname

FLASK_APP_ENV=env
ENV_DATABASE_URI=postgresql+psycopg2://DB_USERNAME:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME
SECRET_KEY=secret-key-goes-here
JWT_SECRET_KEY=jwt-key-goes-here

# unsure what to set the vars below to; don't need this in custom .env.test or .env.dev file at this moment
#Pushover_Token=
#MAILGUN_API_KEY=
#MAILGUN_DOMAIN=
#WEBSITE_DOMAIN=
