# Copy this file to .env.dev or .env.test and fill in these values
# once that is complete, you can run the environments respective script
#FLASK_APP_ENV=test for test environment
#FLASK_APP_ENV=dev for dev environment

FLASK_APP_ENV=env
DB_HOST=localhost
DB_NAME=ur_database_name
DB_USER=ur_username
DB_PASSWORD=ur_password
DB_PORT=6769
SECRET_KEY=secret-key-goes-here
JWT_SECRET_KEY=jwt-key-goes-here
