# Copy this file to .env.dev or .env.test and fill in these values
# once that is complete, you can run the environments respective script
#FLASK_APP_ENV=test for test environment
#FLASK_APP_ENV=dev for dev environment
#TEST_DATABASE_URI=test_db or DEV_DATABASE_URI=dev_db

FLASK_APP_ENV=env
# ENV_DATABASE_URI example: TEST_DATABASE_URI=postgresql+psycopg2://tmg2102:pass@localhost:5432/db
ENV_DATABASE_URI=postgresql+psycopg2://DB_USERNAME:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME
SECRET_KEY=secret-key-goes-here
JWT_SECRET_KEY=jwt-key-goes-here

# unsure what to set the vars below to
#Pushover_Token=
#MAILGUN_API_KEY=
#MAILGUN_DOMAIN=
#WEBSITE_DOMAIN=
