.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.5em;
}

p {
    margin: 0 0 15px;
    line-height: 1.6;
    font-size: 1em;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .container {
        width: 60%;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

/* Media query for extra large screens */
@media (min-width: 1200px) {
    .container {
        width: 50%;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.5em;
    }
}