.data-table-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #d2b48c; /* Soft brown background color */
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center align text in table cells */
}

.data-table th {
    background-color: #8B4513; /* Darker brown for headers */
    color: white;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light background for even rows */
}

.data-table tr:hover {
    background-color: #ddd; /* Highlight row on hover */
}

.data-table thead th {
    background-color: #8B4513; /* Darker brown for headers */
    color: white;
}