.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh; /* Full viewport height */
  padding: 20px 0; /* Padding at the top and bottom */
  box-sizing: border-box;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5em; /* Increase font size slightly */
  margin-bottom: 25px; /* Add more spacing below the title */
}

.map-container {
  position: relative;
  width: 100%; /* Make the map take full width */
  max-width: 900px; /* Increase the maximum width */
  margin: 0 auto;
}

.map-image {
  width: 125%; /* Scale the map image dynamically */
  height: auto;
}

.location-image {
  width: 6%; /* Increase pin size slightly */
  height: auto;
  position: absolute;
}

@media (max-width: 768px) {
  .location-image {
    width: 9%; /* Increase pin size for smaller screens */
  }
}

.station-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 12px; /* Increase padding for better readability */
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1000;
  font-size: 1rem; /* Ensure tooltip text is readable */
}