.Station-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh; /* Full viewport height */
  padding: 20px 0; /* Padding at the top and bottom */
  box-sizing: border-box;
  text-align: center;
}

.Station-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.Station-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.itemgrid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Station-container .map-container {
  flex: 50%;
  position: relative;
  max-width: 55%;
}

@media (max-width: 600px) {
  .Station-container .map-container {
    flex: 100%;
    max-width: 80%;
    margin-bottom: 20px;
  }
}

.map-image {
  width: 100%;
  height: auto;
}

.dropdown {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  margin: 0 20px;
  min-width: 40%;
}

.pop_up {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  background: rgba(255, 255, 255, 0.9); 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-height: 60vh;
  overflow-y: auto;
  z-index: 1001;
}

.dropdown h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
}

.dropdown li {
  font-size: 1em;
  margin-bottom: 10px;
}

.dropdown th {
  font-size: 15px;
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.pin-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.pin-image:active {
  filter: brightness(75%);
}

.table {
    margin-left: auto;
    margin-right: auto;
}