.volunteer-container {
  position: relative;
}

.data-table-container {
  margin: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Center align text in table cells */
}

.data-table th {
  background-color: #f2f2f2;
  color: black;
}

.modal-top .modal-dialog {
  position: fixed;
  top: 10%; /* Adjust this value to move the modal further down or up */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1050;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-content {
  z-index: 1050 !important;
}

.verify-button {
  width: 10%;
  margin-left: 10px;
}